canvas {
    border: 2px solid #aaa;
    display: block;
    background-color:bisque;
    background-color:#ffe4c4;
    margin-right: auto;
    }

* {
    box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {/* botoes Alex Poly; New knot; Save ...  */

    float: center;
    width: 1159px;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
    text-align: left;
}
.column2 {/* texto Do you want to link...?*/
    float: left;
    width: 1000px;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
    text-align: left;
}
.column3 {/*botoes Yes No*/
    float: left;
    width: 159px;
    padding: 10px;
    height: 50px; /* Should be removed. Only for demonstration */
    text-align: center;
}
#div_container {
    width: 1070px;
    height:600px;
    border: 0px solid red;
    margin: 0px auto;
    text-align: center;
}
#Dialog_closeKnot{
    margin: 0;
    position: absolute;
}

#myDIV {
    position:absolute;
    left: 455px;
    margin-top: 5px;
    border: 3px solid #73AD21;
    width: 700px;
    height: 500px;
    background-color: lightblue;
    white-space: pre-line;
  } 

  #id_div_container {
    position:absolute;
    left: 5px;
    padding-top: 5px;
  } 
  #ponto {
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 100%;
    position: relative;
  }
